<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscripcion Hecha</title>
    <link rel="stylesheet" href="/css/formato.css">
    <link rel="icon" type="image/x-icon" href="/imgs/favicon.ico">
</head>
<body>
    <header class="head">
        <section class="logo">
            <img src="/imgs/logoIses.png" alt="logoIses" title="logoIses">
        </section>
        <nav class="txt">
            <h2>Crear Taller de Apoyo</h2>
        </nav>
    </header>
    <main class="ppal">
        <h1>Taller creado con Exito</h1>
    </main>
    <footer>
        <span class="copy">España 2729 - Posadas, Misiones - Argentina - Tel: 0376-4434070 - Copyright © 2024 - Instituto Superior Espíritu Santo</span>
    </footer>
</body>
</html>